# Node.js
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs and other tools
.idea/
.vscode/
*.swp
*.bak

# Build artifacts
dist/
build/
